<!doctype html>

<html>
<head>
  <title>Cloud Computing - Assessment 1</title>
  <script src="{{ url_for('static', filename='auth.js') }}" type="text/javascript"></script>
</head>
<body>

  <h1>Cloud Computing - Assessment 1</h1>
  {% if current_user.is_authenticated %}
  {{current_user.username, current_user.id}}
  {% endif %}
  <nav>
    <a href="{{ url_for('index') }}">index</a>
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('register') }}">register</a>
    <a href="{{ url_for('login') }}">login</a>
    {% else %}
    <a href="{{ url_for('forum') }}">forum</a>
    <a href="{{ url_for('userpage') }}">userpage</a>
    <a href="{{ url_for('logout') }}">logout</a>
    {% endif %}
  </nav>

  {% block content %}{% endblock %}

</body>
</html>
