{% extends "base.html" %}

{% block content %}

<h3>User Area</h3>

    <div>
        <a href="{{url_for('userpage')}}">{{ current_user.username }}</a>
        <img src="{{ img }}">
    </div>

    {% for post in userposts %}
    <div>
        <div>subject: {{ post.subject }}</div>
        <div>message: {{ post.message }}]</div>
        <div>date: {{ post.datetime.ctime() }}</div>
    </div>
    {% endfor %}
    
<h3>New Post Area</h3>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.subject.label }}<br>
        {{ form.subject(size=32) }}<br>
        {% for error in form.subject.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.message.label }}<br>
        {{ form.message(size=32) }}<br>
        {% for error in form.message.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(size=32) }}<br>
        {% for error in form.image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<h3>Forum Area</h3>

{% for post in posts %}
<div>
    <div>
        posted on {{ post.datetime.ctime() }}
    </div>
    <div>
        by {{ post.user.username }}
    </div>
    <div>
        subject {{ post.subject }}
    </div>
    <div>
        message {{ post.message }}
    </div>
</div>
{% endfor %}
{% endblock %}