{% extends "base.html" %}

{% block content %}

<h3>User Area</h3>

    <a href="{{url_for('userpage')}}">{{ current_user.username }}</a>
    <img src="{{ img }}">
    
<h3>New Post Area</h3>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.subject.label }}<br>
        {{ form.subject(size=32) }}<br>
        {% for error in form.subject.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.message.label }}<br>
        {{ form.message(size=32) }}<br>
        {% for error in form.message.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(size=32) }}<br>
        {% for error in form.image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<h3>Forum Area</h3>

{% for post in posts %}
    <p>
        posted on {{ post.datetime }}
    </p>
    <p>
        by {{ post.user.username }}
    </p>
    <p>
        subject {{ post.subject }}
    </p>
    <p>
        message {{ post.message }}
    </p>
{% endfor %}
{% endblock %}