{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card"> 
        <div class="media">
            <img src="{{ img }}" class="mr-3" alt="User image">
            <div class="media-body">
                <h5 class="mt-0">
                    {{ current_user.username }}
                </h5>
            </div>
        </div>
    </div>

    <h3>Password Edit Area</h3>
    <div class="card"> 
        <form action="{{ url_for('updatepassword') }}" method="post" novalidate>
            {{ updatepasswordform.hidden_tag() }}
            <div>
                {{ updatepasswordform.oldpassword.label }}<br>
                {{ updatepasswordform.oldpassword(size=32) }}<br>
                {% for error in updatepasswordform.oldpassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ updatepasswordform.newpassword.label }}<br>
                {{ updatepasswordform.newpassword(size=32) }}<br>
                {% for error in updatepasswordform.newpassword.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ updatepasswordform.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>

    <h3>Post Edit Area</h3>
    {% for post, updatepostform in postandforms %}
    <ul class="list-unstyled">

        <!-- Post -->
        <li class="card"> 
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0">
                        {{ post.subject }}
                    </h5>
                    <div>Date: {{ post.datetime.ctime() }}</div>
                    <div>{{ post.message }}</div>      
                </div>
            </div>
            <div>
                <img src="{{ post.img }}" class="img-fluid" alt="Post image">
            </div>
        

            <!-- Edit post -->
            <div class="collapse" id="a{{post.id}}">
                <form action="{{ url_for('updatepost') }}" method="post" enctype="multipart/form-data" novalidate>
                    {{ updatepostform.csrf_token() }}
                    {{ updatepostform.postid(value=post.id) }}
                    <div>
                        {{ updatepostform.subject.label }}<br>
                        {{ updatepostform.subject(size=32) }}<br>
                        {% for error in updatepostform.subject.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ updatepostform.message.label }}<br>
                        {{ updatepostform.message(size=32) }}<br>
                        {% for error in updatepostform.message.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ updatepostform.image.label }}<br>
                        {{ updatepostform.image(size=32) }}<br>
                        {% for error in updatepostform.image.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ updatepostform.submit() }}
                    </div>
                </form>
            </div>
        </li>
    </ul>
    {% endfor %}

</div>
{% endblock %}